<ion-view view-title="About Us">
  <ion-content>
        <p style="text-align: center">This is a beta version of the Gitksan/English Online Dictionary, a project of the University of British Columbia Department of Linguistics (PI: Henry Davis).</p><br/>
        
        <dl style="text-align: center">
            <dt>Lexicographers:</dt>
            <dd>Aidan Pine</dd><dd>Avery Ozburn</dd><dd>Elise McClay</dd><dd>Katie Bicevskis</dd><dd>Kevin Dickie</dd><dd>Kyra BW</dd><dd>Michael David Schwan</dd><dd>Samuel Akinbo</dd><dd>T. J. Heins</dd><dd>Zoe Wang</dd>
            <dt>Developers:</dt>
            <dd>Patrick Littell</dd>
            <dd>Aidan Pine (Mobile)</dd>
        </dl>
  </ion-content>
</ion-view>