<ion-view view-title="Browse">
  <ion-content>
     <div class="list">
  <label class="item item-input item-select">
    <div class="input-label">
      Select a Letter
    </div>
    <select>
        <option>A</option>
        <option>AA</option>
        <option selected>B</option>
        <option>D</option>
        <option>E</option>
        <option>EE</option>
        <option>G</option>
        <option>G&#x0332</option>
        <option>H</option>
        <option>HL</option>
        <option>I</option>
        <option>II</option>
        <option>J</option>
        <option>K</option>
        <option>K'</option>
        <option>K&#x0332</option>
        <option>K&#x0332'</option>
        <option>L</option>
        <option>'L</option>
        <option>M</option>
        <option>'M</option>
        <option>N</option>
        <option>'N</option>
        <option>O</option>
        <option>OO</option>
        <option>P</option>
        <option>P'</option>
        <option>S</option>
        <option>T</option>
        <option>T'</option>
        <option>TS</option>
        <option>TS'</option>
        <option>U</option>
        <option>UU</option>
        <option>W</option>
        <option>'W</option>
        <option>X</option>
        <option>X&#x0332</option>
        <option>Y</option>
        <option>'Y</option>    
    </select>
  </label>
</div>
      <button on-tap="onTapBrowse()" class="button browseButton button-block button-stable">Click Here to Browse Words</button>
    <div class=browseContainer>
        
        <div on-swipe-left="dragPrevEntries()" on-swipe-right="dragNextEntries()" id="browseEntries" class="browseElements">
        </div>
        
        <a on-tap="prev10()" class="button icon-left browseIcons ion-chevron-left button-clear button-dark"></a>
        <a on-tap="next10()" class="button icon-right browseIcons ion-chevron-right button-clear button-dark"></a>
    </div>
  </ion-content>
</ion-view>