<style>
p {
text-align: center;
font-family: sans-serif;
line-height: 1.5em;
}
    
#pContainer {
    margin: auto;
    padding: 15% 0 0 0;
}
</style>

<ion-view view-title="Contact Us">
  <ion-content>
    <div id="pContainer">
    <p style="text-align: center">We are <b>always</b> eager to hear about any mistakes that might appear in this dictionary. If you have any comments, suggestions, corrections or criticisms, please email aidanpine@shaw.ca</p>
        </div>
  </ion-content>
</ion-view>
