<style>
.col {
    text-align: center;
    border-color: beige;
}

</style>
<ion-view view-title="Gitksan / English Dictionary">
  <ion-content ng-controller="AppCtrl">
      <div class="list">
        <label class="item item-input item-select">
            <div class="input-label">
               <span>Search Language:</span>
            </div>
            <select ng-model="selectedLang" ng-change="showSelectValue(selectedLang); getResult(searchWord)">
                <option selected>English</option>
                <option>Gitksan</option>
            </select>
        </label>
      </div>
      
      <label  class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input ng-keyup="getResult(searchWord)" class="input" id="engSearch" ng-model="searchWord" style="text-align: center" type="search" placeholder="Type Your Word Here">
      </label>
      <div id="results"></div>
      
  </ion-content>
</ion-view>
