<style>
.col {
    text-align: center;
    border-color: beige;
}

</style>
<ion-view view-title="Gitksan / English Dictionary">
  <ion-content ng-controller="AppCtrl">
      <div class="buttonContainer">
          <button class="button lang" id="gitButton" ng-click="gitClick()">Search in Gitksan</button>
          <button class="button lang" id="engButton" ng-click="engClick()">Search in English</button> 
      </div>
      
      <label  class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input ng-keyup="getResult(searchWord)" class="input" id="engSearch" ng-model="searchWord" style="text-align: center" type="search" placeholder="Type Your Word Here" autocapitalize="off">
      </label>
      
      <div id="results"></div>
      
  </ion-content>
</ion-view>
