/* Empty. Add your own CSS if you like */

.browseElements {
    margin: 0 auto;
}

.browseContainer {
    margin: 0 auto;
    width: auto;
    text-align: center;
}

.browseIcons {
margin: 0 8%;
/*display: none;*/
}

#results {
    margin: 0 auto;
    width: auto;
    text-align: center;
}

.matchResponse {
    margin: 2.5em 0 .75em 0;
    text-decoration: underline;
}

.matchLeftDiv {
    color: #006666;
    margin-right: .2em;
}

.matchRightDiv {
    margin-left:.2em;
}

.checkContainer {
    text-align: center;
    box-sizing: border-box;
}

.langCheck {
    display:inline-block;
    border-radius: 5px;
    margin: 1em 0 .5em;
    font-size: .8em;
    width: 155px;
    padding-left: 40px;
}

.contentCheck {
    margin: 0;
    padding-right: 10px;
}

#gitButton, #engButton {
    width: 1.25em;
    height: 1.25em;
    margin-top: 5.5px;
}
#gitButton:after, #engButton:after {
    width: 10px;
    height: 5px;
    top: 30%;
    left: 22%;
}




a {
    color: black;
    text-decoration: none;
}

.matchContainer {
    margin: 1em 0;
}
